<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties">
        <property name="dialect" value="SQLSERVER2005"/>
    </properties>
    <plugins>
        <plugin interceptor="com.bdt.common.mybatis.plugin.PaginationInterceptor">
        </plugin>
    </plugins>
    <environments default="db1">
        <environment id="db1">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
	<mappers>
        <package name="com.bdt.mapper"/>
	</mappers>
</configuration>